{% extends "alpha.html" %}
	{% block content %}
		<script
			src="http://maps.googleapis.com/maps/api/js">
		</script>


		<div>
			<img src={{logo}}>
		</div>
		
		<div id="googleMap" style="width:500px;height:380px;"></div>

		<h1>{{storeName}}</h1>
		<h3>Owned by: {{owner}}</h3>
		

		

		<p>{{desc}}</p>

		<p>
			{% for p in products%}
				<a href={{"/product/"+p}}>{{p}}</a>
			{% endfor %}
		</p>

		<script>
		var myCenter=new google.maps.LatLng({{location}});

		function initialize()
		{
		var mapProp = {
		  center:myCenter,
		  zoom:16,
		  mapTypeId:google.maps.MapTypeId.ROADMAP
		  };

		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

		var marker=new google.maps.Marker({
		  position:myCenter,
		  });

		marker.setMap(map);
		}

		google.maps.event.addDomListener(window, 'load', initialize);
		</script>

	{% endblock %}